PORT=8000
MONGO_URI=mongodb+srv://shubhamkapseideealittechno_db_user:NCd4iypzJCtGPAIV@cluster0.bov5apq.mongodb.net
ACCESS_TOKEN_SECRET=VgdG3tgV46ATYKhku6TWHJX0bjNr9qMd
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=1ee3b4d403577a02b8636867fc59c96c893fd31
REFRESH_TOCKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=dofqm8ylm
CLOUDINARY_API_KEY=511838563128881
CLOUDINARY_API_SECRET=g5maR-u9j9HIq3dAT6ev9vlcSiY